.wrapper-header{
    background: #fff url(../image/banner.png) top center no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 400px;
    text-align: center;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}
.wrapper-header:after{
    content: '';
    width: 100%;
    height: 500px;
    bottom: -40%;
    right: -20%;
    -moz-transform: rotate(170deg);
    -webkit-transform: rotate(170deg);
    -o-transform: rotate(170deg);
    -ms-transform: rotate(170deg);
    transform: rotate(170deg);
    background: #fff;
    position: absolute;
}
.wrapper-header:before{
    content: '';
    width: 100%;
    height: 500px;
    bottom: -40%;
    left: -20%;
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    background: #fff;
    position: absolute;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.menu{
    display: block;
    font-size: 18px;
    color: #fff;
    padding-left: 40px;
    background: url(../image/menu.png) center left no-repeat;
    height: 20px;
}
.logo .logo1{
    display: block;
    font-size: 40px;
    padding-bottom: 3px;
    color: #fff;
}
.logo .logo-line{
    display: block;
    width: 84px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 15px;
}
.logo .logo2{
    display: block;
    font-size: 18px;
    color: #fff;
}
.tell{
    display: block;
    font-size: 18px;
    color: #fff;
}
.text{
    display: block;
    width: 100%;
}
.text h3{
    display: block;
    width: 640px;
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    color: #fff;
}
.main1{
    display: block;
    width: 100%;
    text-align: center;
}
.main1 p{
    margin-bottom: 60px;
}
.boxs{
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    margin: 0 auto;
}
.box{
    display: block;
    max-width: 25%;
    overflow: hidden;
    width: 150px;
    margin: 0 auto;
    padding-top: 100px;
}
.box1{
    background: url(../image/box1.png) top center no-repeat;
}
.box2{
    background: url(../image/box2.png) top center no-repeat;
}
.box3{
    background: url(../image/box3.png) top center no-repeat;
}
.box4{
    background: url(../image/box4.png) top center no-repeat;
}
.but{
    display: block;
    margin: 60px auto;
    background: #d13f49;
    border-radius: 5px;
    color: #fff;
    width: 390px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.but:hover{
    background: green;
    width: 390px;
    height: 50px;
}
.main3 {
    text-align: left;
    background: #1d4da7;
    padding-top: 60px;
    padding-bottom: 60px;
}
.main3 h3{
    display: block;
    width: 1200px;
    margin: 0 auto;
    font-size: 42px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 11px 11px 1px rgba(0, 0, 0, 0.1);
}
.agent{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
}
.agent1, .agent2, .agent3, .agent4{
    width: 590px;
    position: relative;
    padding-bottom: 90px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
}
.agentimg{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: darkgray;
    float: left;
}
.agentname{
    padding-left: 200px;
    width: 300px;
}
.agentname ul li{
    margin-bottom: 20px;
    color: #fff;
}
.agentname ul li:fist-child{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
}
.agentname ul li:nth-child(2){
    padding-left: 220px;
    position: relative;
}
.agentname ul li:nth-child(2):before{
    position: absolute;
    content: "Опыт работы";
    left: 0;
    top: 0;
    color: #9683c2;
}
.agentname ul li:nth-child(3){
    padding-left: 220px;
    position: relative;
}
.agentname ul li:nth-child(3):before{
    position: absolute;
    content: "Время средней продажи";
    left: 0;
    top: 0;
    color: #9683c2;
}
.agenttxt{
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
}
.agenttxt .readmore{
    color: #8a7dbf;
    cursor: pointer;
}
.main4{
    background: #fff url(../image/banner.png) center center no-repeat;
    padding: 60px 0;
}